.fav-icon {
  width: 14px;
  height: 14px;
  color: var(--main-dark-color);
  cursor: pointer;
}

.favourite {
  color: rgb(218, 51, 51);
}

.plain-container {
  width: fit-content;
  height: fit-content;
}
