.how-to-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-background-color);
  z-index: 10000;
}

/* CSS nesting - not supported in older browsers */
.how-to-modal-content {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  background-color: white;
  border-radius: 1rem;

  & h5 {
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    color: var(--main-dark-color);
    font-family: inherit;
  }

  & p {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  & .bold {
    font-weight: bold;
  }
}

.how-to-video {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 1.5rem auto;
}

.how-to-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
