.popular-stalls {
  width: 100%;
}

.popular-stalls h2 {
  width: fit-content;
  margin: 1.5rem auto 0;
  padding: 0 2rem;
  font-family: Podkova, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  border-bottom: 1px solid var(--main-dark-color);
}
