.welcome-modal-title {
  margin-bottom: 0.5rem;
  color: var(--main-dark-color);
  text-align: center;
  font-size: 2rem;
  font-family: Podkova, Arial, Helvetica, sans-serif;
  line-height: 1.1;
}

.welcome-modal-subtitle {
  margin: 0 auto 1rem;
  font-size: 1.2rem;
  color: var(--main-dark-color);
  font-style: italic;
  font-weight: 300;
}

.welcome-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
