.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  position: relative;
  width: 100%;
  /* Make this section fit the hieght of the screen - account for navbar */
  min-height: calc(100vh - var(--main-nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/home-background-narrow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 10px black;
  /* Set z-index so tranparent layer can be added over top */
  z-index: 1;
}

/* Transparent element to darken background image */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* CSS nesting - not supported in all browsers */
.home-main-text {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  color: white;

  & h2 {
    font-size: 1.5rem;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 1px 10px;
  }

  & p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 1px 10px;
  }
}

@media screen and (min-width: 500px) {
  .hero {
    background-image: url("../../assets/home-background-wide.jpg");
  }

  /* Use before pseudo element to darken background image */
  .hero::before {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .home-main-text {
    & h2 {
      font-size: 2.2rem;
    }

    & p {
      font-size: 0.9rem;
    }
  }
}

/* Increase font size on wider screens */
@media screen and (min-width: 800px) {
  .home-main-text {
    & h2 {
      font-size: 2.8rem;
    }

    & p {
      font-size: 1.1rem;
    }
  }
}
