.results-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  --space-from-bottom-of-screen: 1.5rem;
}

.rn-relative {
  position: relative;
  padding-bottom: var(--space-from-bottom-of-screen);
}

.rn-fixed {
  position: fixed;
  bottom: var(--space-from-bottom-of-screen);
  left: 0;
}
