.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 1.5rem 2rem;

  & h2 {
    width: fit-content;
    margin: 0 auto 0.5rem;
    font-family: Podkova, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.2rem;
  }

  & h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  & p {
    width: 100%;
    font-size: 0.9rem;
  }

  & .bold {
    font-weight: 500;
  }
}

.about-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  background-color: var(--main-light-color);
}

.about-all-benifits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.about-benefit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  max-width: 500px;
  height: 250px;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px rgb(195, 195, 195);
  border-radius: 20px;

  & p {
    text-align: center;
  }
}

.about-image-container {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.about-image {
  height: 100%;

  &#heart-vegetable-image {
    padding: 1rem;
  }
}

.about-btn-container {
  margin: 1rem auto 0.5rem;
}

.about-stall-image {
  width: 300px;
  height: auto;
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .about {
    & h2 {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }

    & h3 {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  .about-section-container {
    margin: 3rem;
    padding: 2rem;
    & p {
      font-size: 1rem;
      width: 100%;
    }
  }

  .about-all-benifits {
    flex-direction: row;
    max-width: none;
  }

  .about-benefit-container {
    width: 30%;
    height: 250px;
  }

  .about-image-container {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
  }

  .about-image {
    height: 100%;
  }

  .about-stall-image {
    display: none;
  }
}
