.stall-details {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: white;
}

.stall-details-btn-container {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.stall-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.stall-details-text {
    width: 100%;
    padding: 1rem;
}

.stall-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.stall-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.stall-status {
    color: green;
    font-weight: bold;
}

.stall-likes {
    font-size: 0.8rem;
    color: rgb(73, 73, 73);
}

.stall-address {
    font-size: 0.8rem;
    text-decoration: underline;
}

.line-separator {
    width: 100%;
    margin: 1rem auto;
    border-bottom: 1px solid var(--main-dark-color);
}

/* CSS nesting used below - not supported in old browsers */
.stall-text-subsection {
    font-size: 0.8rem;

    & h3 {
        font-size: 0.9rem;
        color: var(--main-dark-color);
        margin-bottom: 0.2rem;
    }

    & p {
        font-size: inherit;
    }

    & p:first-letter {
        text-transform: capitalize;
    }

    & ul {
        width: 100%;
        display: flex;
        gap: 1rem;
        margin: 0.5rem 0;
        text-transform: capitalize;
    }

    & li {
        list-style-position: inside;
        font-size: inherit;
        font-weight: 500;
    }
}

.stall-item-container {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin: 0.5rem 0;
}

.stall-time-container {
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}