.search-results {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.autocomplete {
  position: fixed;
  top: 50%;
  left: 40px;
}

.standalone {
  position: fixed;
  top: 30%;
  left: 40px;
}
