footer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    color: var(--main-dark-color);
    font-family: Sacramento, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: white;
    padding: 0 1rem;
  }
}

footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  /* Make sure the after element is behind p element */
  z-index: -1;
  /* Use border for line - give consistant line width */
  border-bottom: solid 1px var(--main-dark-color);
}
