.stall-details-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.stall-details-form p {
  color: var(--main-dark-color);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.form-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  /* more padding on top - space for label */
  padding: 0.8rem 0.7rem 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;
}

.form-autocomplete {
  width: 100%;
}

.form-input-container .text-input {
  width: 100%;
  border: none;
  font-family: inherit;
}

.form-input-container textarea {
  height: 150px;
  width: 100%;
  padding: 0.2rem;
  resize: none;
  border: none;
  font-family: inherit;
}

textarea:focus {
  outline: none;
}

.form-input-container label {
  /* shift labels up so they sit over the input border */
  position: absolute;
  top: -12px;
  left: 12px;
  padding: 3px;
  background-color: white;
  color: rgb(77, 77, 77);
  font-size: 0.8rem;
}

.form-separator {
  position: relative;
  width: 95%;
  margin: 1rem 0 1rem;
  border-top: 1px solid var(--main-dark-color);
}

.form-separator span {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 0 1rem;
  background-color: white;
}

.form-btn-container {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.add-photo-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0.5rem;
  border: 1px solid rgb(77, 77, 77);
  background-color: white;
  color: rgb(77, 77, 77);
  border-radius: 10px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}
