.stall-details-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.form-input-container {
  position: relative;
  width: 95%;
  /* More padding on top - space for label */
  padding: 0.6rem 0.8rem 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--main-dark-color);
  border-radius: 10px;

  & label {
    /* Shift labels up so they sit over the input border */
    position: absolute;
    top: -13px;
    left: 13px;
    padding: 4px;
    background-color: white;
    color: rgb(77, 77, 77);
    font-size: 0.8rem;
  }

  & input {
    width: 100%;
    border: none;
    font-family: inherit;
  }

  & textarea {
    height: 150px;
    width: 100%;
    padding: 0.2rem;
    resize: none;
    border: none;
    font-family: inherit;
  }

  & textarea:focus {
    outline: none;
  }
}

/* Could also do this with an ::after for the line - need to chang the jsx first */
.form-separator {
  position: relative;
  width: 95%;
  margin: 1rem 0 1.5rem;
  border-top: 1px solid var(--main-dark-color);

  & span {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 0 1rem;
    background-color: white;
  }
}

.form-btn-container {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.add-photo-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0.5rem;
  border: 1px solid rgb(77, 77, 77);
  background-color: white;
  color: rgb(77, 77, 77);
  border-radius: 10px;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.form-access-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

.contact-details-text {
  width: 95%;
  color: var(--main-dark-color);
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.form-error {
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  color: red;
}
