* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  /* Stop elements from highlighting blue when tapped -  mobile */
  -webkit-tap-highlight-color: transparent;
}

.app {
  width: 100%;
  height: 100vh;
  /* Need app to be a column flexbox to place footer at the bottom of the page; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Add padding at the top to account for the nav bar */
  padding-top: var(--main-nav-height);
}
