.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-background-color);
  z-index: 10000;
}

/* CSS nesting - not supported in older browsers */
.modal-content {
  width: 85%;
  max-width: 600px;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;

  & h5 {
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    color: black;
    font-family: inherit;
  }

  & p,
  ul {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  & li {
    /* line up bullets with text above */
    list-style-position: inside;
    /* line up second line of text with the first for each bullet */
    text-indent: -1.3rem;
    padding-left: 1.3rem;
  }

  & .bold {
    font-weight: bold;
  }
}
