.openhours-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0;
}

.openhours-day-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
}

.openhours-day-container p {
  /* This has a set width so all check boxes align */
  width: 100px;
  margin: 0;
  text-align: left;
}

.open-times-container {
  margin-left: 1rem;
}

.open-times-container select {
  width: 75px;
  padding: 5px 2px;
  font-size: 0.7rem;
  color: rgb(77, 77, 77);
  border: 1px solid var(--main-dark-color);
  border-radius: 5px;
  cursor: pointer;
}

.openhours-checkbox {
  /* Width set to 100% by .form-input-container &input */
  width: auto !important;
  cursor: pointer;
}
